
/*------------- NotFound Components Style -------------*/
.NotFound {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 1);
    p  {
        font-family: 'skyer';
        font-weight: 800;
        text-decoration: underline;
        font-size: 0.8vw;
        color: rgba(255, 255, 255, 1);
        letter-spacing: 1vw;
        padding: 0vh 2vw;
        text-align: justify;
    }
    h1 {
        font-family: 'skyer';
        font-weight: 800;
        text-decoration: underline;
        font-size: 14vw;
        color: rgba(255, 255, 255, 1);
        letter-spacing: 1vw;
    }
    button {
        position: absolute;
        top: 44.2%;
        left: 47%;
        transform: translate(-47%, -44.2%) rotate(270deg);
        border: none;
        font-family: 'skyer';
        background-color: transparent;
        color: rgba(255, 255, 255, 1);
        font-size: 1.5vw;
        padding: 0.9vw;
        cursor: pointer;
        transition: 0.8s;
        &:hover {
            background-color:rgba(255, 255, 255, 1);
            color: rgba(0, 0, 0, 1);
        }
    }
    h2 {
        font-family: 'devil';
        font-weight: 800;
        font-size: 6vw;
        color: rgba(255, 255, 255, 1);
    }
}

