
/*------------- DashBoard Components Style -------------*/
.DashBoard{
    overflow-x: hidden;
    .DashBoardInner {
        height: 120vh;
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: rgba(236, 240, 243, 1);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%,rgba(0, 0, 0, 0.01) 50%,rgba(0, 0, 0, 0.9) 100%), url('../../assets/images/dashBoard/banner_0.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        .DashBoardBack {
            position: absolute;
            background-color: rgba(236, 240, 243, 1);
            z-index: 3;
            top: 0;
            left: 0;
            margin: 20px;
            padding: 5px 20px;
            border-radius: 4px;
            font-size: 20px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(58, 53, 53, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
            border: 2px solid transparent;
            font-family: 'devil';
            transition: 1s;
            opacity: 0;
            animation: DashBoardBackAnimation 3s ease-in-out 0s 1 forwards;
            &:hover {
                background-color: rgba(0, 0, 0, 1);
                color: rgba(236, 240, 243, 1);
                scale: 1.1;
            }
        }
        .DashBoardProfile {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            color: rgba(255, 242, 230, 1);
            .NProfile {
                background-color: rgba(0, 0, 0, 1);
                border-radius: 50%;
                padding: 50px 55px;
                font-family: 'Devil';
                color: rgba(255, 255, 255, 1);
                font-size: 50px;
                border: 2px solid rgba(255, 255, 255, 1);
                .a {
                    padding: 2px 6px;
                    color: rgba(255, 255, 255, 1);
                }
            }
            .NProfileName {
                font-family: 'blinkMacSystem-light';
                font-size: 2vw;
            }
            p {
                font-family: 'BebasNeue';
                text-align: center;
                font-size: 1vw;
                a {
                    color: rgba(50, 102, 208, 0.8);
                    &:hover {
                        color: rgba(50, 102, 208, 1);
                    }
                }
            }
        }
        .DashBoardOuter {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 60vw;
            div {
                border-right: 1px solid rgba(0, 0, 0, 1);
                z-index: 3;
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                height: 50vh;
                width: 18vw;
                border-radius: 8px;
                background-color: rgba(255, 255, 255, 1);
                padding: 1vh;
                transition: 1s;
                animation: name duration timing-function delay iteration-count direction fill-mode;
                &:nth-child(1) {
                    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
                }
                &:nth-child(2), &:nth-child(3) {
                    transform: scaleY(0.96);
                    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
                }
                &:nth-child(4) {
                    border: none;
                    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
                }
                &:hover {
                    box-shadow: none;
                    filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 1));
                    transform: rotateZ(10deg);
                }
                h1 {
                    font-family: 'Griffy';
                    font-size: 24px;
                    font-weight: 800;
                    padding: 10px 5px;
                    border: 2px solid transparent;
                    border-radius: 20px;
                    transition: 0.6s;
                }
                p {
                    font-family: 'BebasNeue';
                    text-align: center;
                    font-size: 0.8vw;
                }
            }
        }
    }
    .DashBoardSpace {
        height: 18vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 1);
    }
    .DashBoardContent { 
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 1) 90%,rgba(0, 0, 0, 1) 100%), url('../../assets/images/dashBoard/tab1.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        .DashBoardContentI {
            height: 40vw;
            width: 30vw;
            border-radius: 100%;
            background-color: rgba(241, 236, 231, 0.8);
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1vh;
            cursor: pointer;
            transition: 1s;
            h1 {
                font-family: "MANIFESTO";
                font-size: 2vw;
                text-align: center;
            }
            img {
                height: 10vw;
                width: 10vw;
            }
            h2 {
                font-family: 'BillionDreams';
                font-size: 2vw;
                text-align: center;
            }
            &:hover {
                background-color: rgba(241, 236, 231, 1);
            }
        }
        .DashBoardContentPI {
            position: relative;
            height: 90vh;
            width: 90vw;
            background-image: url('../../assets/images/dashBoard/DashBoard-PI-Background.png');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
            border-radius: 5px;
            padding: 20px;
            img {
                opacity: 0.7;
                height: 80vh;
                width: 30vw;
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                pointer-events: none;
            }
            h1 {
                font-family: 'Griffy';
                font-size: 28px;
                font-weight: 800;
                padding: 10px 5px;
                border: 2px solid transparent;
                border-radius: 20px;
                transition: 0.6s;
            }
            .DashBoardDetails{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .dashBoardControls {
                    padding: 20px 10px;
                    background-color: rgba(0, 0, 0, 1);
                    border-radius: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .dashBoardControlsIcon {
                        font-size: 20px;
                        padding: 10px 10px;
                        border: 2px solid rgba(0, 0, 0, 0);
                        border-radius: 10px;
                        cursor: pointer;
                        &:hover {
                            border: 2px solid rgba(255, 215, 0, 1);
                        }
                    }
                    .DBCI01 {
                        margin-bottom: 5px;
                    }
                }
                .DashBoardDetailsFull {
                    height: 60vh;
                    width: 60vw;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    justify-items: center;
                    grid-template-columns: 5fr 1fr 5fr;
                    cursor: default;
                    h2 {
                        padding: 5px 15px;
                        justify-self: center;
                        grid-column: span 3;
                        font-size: 18px;
                        border-radius: 20px;
                        font-family: 'blinkMacSystem-light';
                        font-weight: 800;
                        color: rgb(207, 207, 32);
                        background-color: rgba(255, 255, 255, 1);
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                    }
                    span {
                        width: 5vw;
                        font-size: 3vw;
                        -webkit-text-stroke: 0.1vw rgba(255, 255, 255, 1);
                    }
                    .UpdateMessage {
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%);
                        height: 70vh;
                        width: 20vw;
                        border: 10px solid rgba(215, 198, 165, 1);
                        border-radius: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba(65, 9, 0, 1);
                        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                        pointer-events: none;
                        animation: DashBoardUpdateMessage 7s ease-in-out 0s 1 forwards;
                        h1 {
                            rotate: -90deg;
                            text-align: center;
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                    h4{
                        font-size: 18px;
                        font-family: 'Poppins';
                        input {
                            padding: 10px 10px;
                            width: 262px;
                        }
                    }
                    input {
                        transition: 0.4s;
                        font-size: 18px;
                        padding: 10px 15px;
                        border-radius: 5px;
                        border: none;
                        background-color: rgba(255, 255, 255, 1);
                        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
                        font-family: "Poppins";
                        height: 38px;
                        width: 300px;
                        border: 2px solid transparent;
                        &:focus {
                            outline: none;
                        }
                        &:invalid{
                            border: 2px solid rgba(170, 4, 4, 0.8);
                        }
                        &:valid{
                            border: 2px solid transparent;
                        }
                    }
                }
            }
            .DashBoardUpdate {
                width: 80vw;
                display: flex;
                justify-content: end;
                align-items: center;
                h1 {
                    color: rgba(255, 0, 0, 1);
                    font-size: 17px;
                    font-family: 'blinkMacSystem-light';
                }
                button {
                    background-color: rgba(0, 0, 0, 1);
                    border-radius: 5px;
                    padding: 8px 15px;
                    font-family: 'Devil';
                    cursor: pointer;
                    color: rgba(255, 255, 255, 1);
                    font-size: 17px;
                    border: 1.5px solid rgba(0, 0, 0, 1);
                    transition: 1.2s;
                    font-size: 20px;
                    z-index: 3;
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.8);
                        border: 1.5px solid rgba(0, 0, 0, 0.8);
                        color: rgba(0, 0, 0, 1);
                    }
                }
            }
        }
        .DashBoardContentS {
            z-index: 2;
            height: 90vh;
            width: 90vw;
            background-image: url('../../assets/images/login\ background\ image.jpg');
            background-size: cover;
            background-position: top center;
            background-repeat: no-repeat;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h1 {
                z-index: 4;
                padding: 5px 20px;
                text-align: center;
                font-size: 2vw;
                font-family: 'MANIFESTO';
                background-color: rgba(233, 233, 233, 1);
                border-radius: 10px 10px 0px 0px;
            }
            .DashBoardContentSMain {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2vw;
                height: 70vh;
                width: 75vw;
                button {
                    background-color: rgba(0, 0, 0, 1);
                    border-radius: 5px;
                    padding: 8px 15px;
                    font-family: 'MANIFESTO';
                    cursor: pointer;
                    color: rgba(255, 255, 255, 1);
                    font-size: 1vw;
                    border: 1.5px solid rgba(0, 0, 0, 1);
                    transition: 1s;
                    &:hover{
                        background-color: rgba(255, 255, 255, 1);
                        color: rgba(0, 0, 0, 1);
                        letter-spacing: 2px;
                        box-shadow: -2px -2px 0px rgba(0, 0, 0, 1),
                            5px 5px 0px rgba(0, 0, 0, 1);
                    }
                }
                .DashBoardContentSMain01 {
                    height: 70vh;
                    width: 30vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgba(233, 233, 233, 1);
                    border-radius: 10px 0px 10px 10px;
                    font-family: 'MANIFESTO';
                    h2 {
                        text-align: center;
                        font-size: 1.5vw;
                        padding: 20px 0px;
                    }
                }
                .Otp {
                    z-index: 3;
                    position: absolute;
                    left: 50%;
                    background-color: rgba(248, 248, 248, 1);
                    border-radius: 50%;
                    height: 300px;
                    width: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 10px;
                    color: rgba(0, 0, 0, 1);
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                    border: 2px solid transparent;
                    transition: 4.5s, border 0.5s, box-shadow 0.4s;
                    cursor: pointer;
                    .otpVerifyStatus {
                        height: 100%;
                        width: 100%;
                        background-image: url('../../assets/media/Successfully-Animation.gif');
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    h4 {
                        font-family: 'MomcakeBold';
                        font-size: 16px;
                        text-align: center;
                    }
                    h2 {
                        font-family: 'MomcakeBold';
                        font-size: 16px;
                        text-align: center;
                        cursor: pointer;
                        transition: 1s;
                        &:hover {
                            color: rgba(20, 108, 20, 1);
                        }
                    }
                    h3 {
                        font-family: 'MomcakeBold';
                        font-size: 16px;
                        text-align: center;
                        color: rgba(180, 9, 9, 1);
                    }
                    input {
                        font-size: 16px;
                        padding: 10px 15px;
                        border-radius: 5px;
                        border: none;
                        background-color: rgba(233, 233, 233, 1);
                        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
                        font-family: "Poppins";
                        height: 38px;
                        width: 250px;
                        text-align: center;
                    }
                    input::placeholder{
                        font-size: 18px;
                        font-family: "BebasNeue",sans-serif;
                    }
                    input:focus{
                        outline: none;
                    }
                    input:invalid{
                        border: 2px solid rgba(170, 4, 4, 0.8);
                    }
                    input:valid{
                        border: 2px solid transparent;
                    }
                    button {
                        font-family: 'Starlight';
                        padding: 4px 18px;
                        font-size: 18px;
                        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                        &:hover {
                            box-shadow: none;
                        }
                    }
                    input:invalid ~ button[type="button"] {
                        background-color: rgb(165, 165, 166, 1);
                        cursor: not-allowed;
                    }
                    .OtpIcon {
                        color: rgba(176, 5, 5, 1);
                        padding: 5px;
                        font-size: 35px;
                        transition: 0.8s;
                        &:hover {
                            rotate: 360deg;
                            padding: 1px;
                            font-size: 37px;
                        }
                    }
                    &:hover {
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 64px 55px, rgba(0, 0, 0, 0.12) 0px -22px 30px, rgba(0, 0, 0, 0.12) 0px 14px 6px, rgba(0, 0, 0, 0.17) 0px 22px 13px, rgba(0, 0, 0, 0.09) 0px -13px 5px;
                        border: 2px solid rgba(255, 215, 0, 1);
                    }
                }
                .DashBoardContentSMain02 {
                    z-index: 4;
                    height: 70vh;
                    width: 30vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgba(233, 233, 233, 1);
                    border-radius: 0px 10px 10px 10px;
                    font-family: 'MANIFESTO';
                    h2 {
                        text-align: center;
                        font-size: 1.5vw;
                        padding: 20px 0px;
                    }
                }
            }
        }
        .DashBoardContentCS {
            position: relative;
            height: 90vh;
            width: 90vw;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                height: 90vh;
                width: 90vw;
            }
        }
    }
    .DashBoardContent01 {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 1) 90%,rgba(0, 0, 0, 1) 100%), url('../../assets/images/dashBoard/tab2.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        color: rgba(255, 242, 230, 1);
        font-family: 'Morion';
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        h1 {
            font-family: 'Griffy';
            font-size: 1.8vw;
        }
        p {
            font-family: 'MomcakeThin';
            padding: 5px 0px;
            font-size: 1.4vw;
            text-align: justify;
            width: 80vw;
        }
        a{
            color: rgba(255, 242, 230, 1);
            text-decoration: underline;
            font-size: 1.5vw;
            transition: 0.5s;
            &:hover {
                color: rgba(86, 125, 176, 1);
            }
        }
    }
}
.emailMessage {
    height: 10vh;
    width: 70vw;
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: rgba(250, 249, 246, 1);
    transition: 1s;
    font-family: 'MomcakeBold';
    font-size: 1.5vw;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    opacity: 0;
}

/*------------- Animation for DashBoard -------------*/
@keyframes DashBoardBackAnimation {
    to{
       opacity: 1;
    }
}
@keyframes DashBoardUpdateMessage {
    0% {
        left: -20%;
        transform: translate(0%);
    }20% {
        left: 50%;
        transform: translate(-50%);
    }40% {
        left: 50%;
        transform: translate(-50%) rotate(90deg) scale(1);
    }60% {
        transform: translate(-50%) rotate(90deg) scale(1.25);
    }80% {
        left: 50%;
        transform: translate(-50%) rotate(90deg) scale(1);
    }100% {
        left: 150%;
        transform: translate(-150%);
    }
}

