
/*------------- Font Components Style -------------*/
.FontOuter {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .Font {
        width: 95vw;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fill, 20vw);
        gap: 15px;
        .Font01 {
            mask-image: url('../../assets/images/product.png');
            mask-size: cover;
            mask-position: center bottom;
            mask-repeat: no-repeat;
            background-color: rgba(250, 242, 229, 1);
            border-radius: 8px 8px 0px 0px;
            cursor: pointer;
            &:hover {
                div {
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                }
            }
            div {
                height: 14vw;
                width: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 8px;
                transition: 0.4s;
            }
            h1{
                font-family: 'blinkMacSystem-light';
                font-size: 19px;
                text-align: center;
                font-weight: 400;
                margin: 1vw 0 1vw 0;
                text-transform: lowercase;
                color: rgba(0, 0, 0, 0.6);
                cursor: pointer;
                transition: 1s;
                &:hover {
                    color: rgba(0, 0, 0, 1);
                }
            }
        }
    }
}
.FontDetails {
    z-index: 25;
    position: fixed;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -0%);
    opacity: 0;
    transition: transform 2s;
    height: 95vh;
    width: 155vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    background-color: rgba(240, 231, 207, 1);
    padding: 2vh;
    border-radius: 15px;
    animation: previewAnimation 2s ease-in-out 0.5s 1 forwards;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    div{
        height: 100%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 15px;
        transform: scaleX(1.5);
    }
    h1{
        font-family: 'blinkMacSystem-light';
        font-size: 28px;
        text-align: center;
        font-weight: 400;
        margin: 5px 0 5px 0;
        color: rgba(0, 0, 0, 0.8);
        span {
            font-family: 'skyer';
        }
    }
    p{
        padding: 0 4vh;
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        text-align: justify;
        font-family: 'MomcakeThin';
    }
    button {
        border: none;
        background-color: transparent;
        .a {
            cursor: pointer;
            font-size: 40px;
            padding: 2px;
            color: rgba(244, 59, 2, 1);
            transition: 1s;
            &:Hover {
                transform: rotate(360deg);
            }
        }
    }
}

/*------------- Animation For Font -------------*/
@keyframes previewAnimation {
    0% {
        transform: translate(-50%, -0%);
        opacity: 0;
    }50%{
        opacity: 1;
    }100% {
        transform: translate(-50%, -86%);
        opacity: 1;
    }
}

