
/*------------- product Components Style -------------*/
.productOuter {
    background-color: rgba(220, 220, 220, 1);
    .Product {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(220, 220, 220, 1);
        .productBook {
            z-index: 3;
            height: 90vh;
            width: 90vw;
            background-color: rgba(252, 245, 239, 1);
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            .productFirstBook {
                z-index: 3;
                height: 90vh;
                width: 45vw;
                box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px, rgba(0, 0, 0, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -20px 20px, rgba(0, 0, 0, 0.05) -25px 25px,rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .productBackArrow {
                    height: 5vh;
                    width: 1.5vw;
                    clip-path: polygon(40% 0%,40% 35%,100% 20%,100% 80%,40% 65%,40% 100%,0% 50%);
                    background-color: rgba(0, 0, 0, 1);
                    position: absolute;
                    top: 22%;
                    left: 7%;
                    transform: translate(-7%, -22%);
                    z-index: 3;
                    transition: 1s;
                    cursor: pointer;
                    &:hover {
                        clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
                    }
                }
                .ProductImage {
                    height: 75vh;
                    width: 40vw;
                    background-color: rgba(255, 255, 255, 1);
                    border-radius: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
                    transition: 0.5s, rotate 1s;
                    img {
                        height: 95%;
                        width: 95%;
                        cursor: pointer;
                    }
                }
            }
            .waterMark {
                z-index: 12;
                height: 60vh;
                position: absolute;
                top: 88%;
                left: 50%;
                transform: translate(-50%, -88%);
                font-size: 3.5vw;
                font-family: 'MANIFESTO';
                text-align: center;
                color: rgba(0, 0, 0, 0.2);
                cursor: default;
            }
            .productSecondBook {
                z-index: 3;
                height: 90vh;
                width: 45vw;
                box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px, rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
                padding: 20px;
                h1{
                    font-size: 2.8vw;
                    font-family: 'skyer';
                    text-align: center;
                }
                .productContent {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 0px;
                    .productPrice {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: 20px;
                        h2 {
                            text-align: center;
                            font-size: 2vw;
                            font-family: 'MomcakeThin';
                        }
                        .buyNow {
                            background-color: rgba(0, 0, 0, 1);
                            border-radius: 5px;
                            padding: 8px 15px;
                            font-family: 'Devil';
                            cursor: pointer;
                            color: rgba(255, 255, 255, 1);
                            font-size: 13px;
                            border: 1.5px solid rgba(0, 0, 0, 1);
                            transition: 1s;
                            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                            &:hover {
                                background-color: rgba(255, 255, 255, 1);
                                color: rgba(0, 0, 0, 1);
                                letter-spacing: 2px;
                                box-shadow: -2px -2px 0px rgba(0, 0, 0, 1), 5px 5px 0px rgba(0, 0, 0, 1);
                            }
                        }
                        .ProductCart {
                            background-color: rgba(0, 0, 0, 1);
                            color: rgba(255, 255, 255, 1);
                            clip-path: polygon(0% 11%,100% 27%,100% 81%,0% 91%);
                            border-radius: 5px;
                            padding: 8px 15px;
                            font-family: 'Devil';
                            cursor: pointer;
                            transition: 1s;
                            filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.8));
                            &:hover {
                                clip-path: polygon(0% 10%,100% 12%,100% 90%,0% 90%);
                            }
                        }
                        .RemoveProductCart {
                            border-radius: 5px;
                            border: none;
                            padding: 2px 8px;
                            cursor: pointer;
                            font-size: 22px;
                            transition: 0.5s;
                            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                            background-color: rgba(28, 79, 72, 1);
                            font-family: 'Devil';
                            color: rgba(255, 255, 255, 1);
                            &:hover {
                                color: rgba(28, 79, 72, 1);
                                background-color: rgba(255, 255, 255, 1);
                            }
                        }
                        .ProductLiveDemo {
                            background-color: rgba(0, 0, 0, 1);
                            clip-path: polygon(0% 20%,100% 10%,100% 90%,0% 77%);
                            color: rgba(255, 255, 255, 1);
                            border-radius: 5px;
                            padding: 8px 15px;
                            font-family: 'Devil';
                            cursor: pointer;
                            font-size: 20px;
                            transition: 1s;
                            &:hover {
                                clip-path: polygon(0% 10%,100% 12%,100% 90%,0% 90%);
                            }
                        }
                    }
                }
                .productDetails {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    text-align: center;
                    gap: 10px;
                    p {
                        font-size: 15px;
                        font-family: 'MomcakeThin';
                    }
                }
            }
        }
    }    
    .ProductNotFound {
        height: 75vh;
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img {
            height: 15.5vw;
            width: 15.5vw;
            position: absolute;
            z-index: 1;
        }
        .NotFoundMedia01 {
            top: 24%;
            left: 12%;
            transform: translate(-12%, -24%);
        }
        .NotFoundMedia02 {
            top: 97%;
            left: 44%;
            transform: translate(-44%, -97%);
            border-radius: 50%;
            animation: notFoundForProduct 8s linear infinite;
            box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
            border: 1vw solid rgba(0, 0, 0, 0.5);
        }
        .NotFoundMedia03 {
            top: 17%;
            left: 85%;
            transform: translate(-85%, -17%);
        }
        p {
            width: 25vw;
            font-family: 'MomcakeThin';
            font-size: 1.5vw;
            text-align: center;
            background-color: rgba(199, 196, 183, 1);
            padding: 1vw;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            z-index: 2;
        }
        div {
            width: 35vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-shadow: rgba(0, 0, 0, 0.5) 2.95px 2.95px 3.6px;
            z-index: 2;
            h1 {
                font-family: 'MomcakeThin';
                font-size: 10vw;
                text-align: center;
                span {
                    font-family: 'blinkMacSystem-light';
                    margin: 0px 4vw;
                    display: inline-block;
                    animation: rotateInfiniteForProduct 8s linear infinite;
                }
            }
            h2 {
                font-family: 'BrightMelody';
                font-size: 5vw;
                text-align: center;
            }
        }
    }
    .anotherProducts {
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            width: 90%;
            font-family: 'Devil';
            font-size: 4vw;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            letter-spacing: 0.2vw;
            cursor: default;
            transition: 1s;
            &:hover {
                text-shadow: rgba(0, 0, 0, 1) 2.95px 2.95px 3.6px;
            }
        }
    }
    .ProductOuter {
        overflow: hidden;
        width: 100vw;
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 12px;
        .Content01 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 4px;
            border: none;
            height: 250px;
            width: 350px;
            background-color: rgba(225, 225, 225, 1);
            padding-top: 10px;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
            transition: 1s;
            img {
                height: 75%;
                width: 75%;
                border-radius: 10px;
                cursor: pointer;
            }
            h2{
                font-size: 20px;
                font-family: 'skyer';
            }
            .ContentInner {
                height: 20%;           
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.5);
                color: rgba(255, 255, 255, 1);
                p {
                    font-family: 'blinkMacSystem-light';
                    font-size: 18px;
                    text-shadow: 0.1px 0.1px 0px rgba(0, 0, 0, 1), 0.5px 0.5px 0px rgba(51, 51, 51, 1), 0.5px 0.5px 0px rgba(102, 102, 102, 1), 1px 1px 0px rgba(153, 153, 153, 1), 1.5px 1.5px 0px rgba(204, 204, 204, 1);
                    span {
                        font-family: 'momcakeBold';
                        font-size: 23px;
                        text-shadow: none;
                    }
                    .productTag {
                        font-family: 'MANIFESTO';
                        font-size: 18px;
                        text-shadow: none;
                    }
                }
                button {
                    background-color: rgba(0, 0, 0, 1);
                    color: rgba(255, 255, 255, 1);
                    border-radius: 5px;
                    border: none;
                    padding: 2px 8px;
                    font-family: 'skyer';
                    cursor: pointer;
                    font-size: 22px;
                    transition: 0.5s;
                    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    &:hover{
                        background-color: rgba(255, 255, 255, 1);
                        color: rgba(0, 0, 0, 1);
                    }
                }
                .RemoveButton {
                    background-color: rgba(28, 79, 72, 1);
                    font-family: 'Devil';
                    color: rgba(255, 255, 255, 1);
                    &:hover {
                        color: rgba(28, 79, 72, 1);
                        background-color: rgba(255, 255, 255, 1);
                    }
                }
            }
            &:hover {
                transform: translateY(-10px);
                box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 6px, rgba(0, 0, 0, 0.3) 0px 9px 15px -5px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
            }
        }
    }
    .ProductNotFoundMessage {
        display: none;
        position: fixed;
        font-family: cursive;
        font-size: 1vw;
        padding: 0.5vw 0.8vw;
        background-color: rgba(255, 255, 255, 1);
        z-index: 100;
        pointer-events: none;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
}

/*------------- Animation For Product -------------*/
@keyframes rotateInfiniteForProduct {
    0% {
        transform: rotateY(0deg);
    }10% {
        transform: rotateY(0deg);
    }20% {
        transform: rotateY(360deg);
    }80% {
        transform: rotateY(360deg);
    }90% {
        transform: rotateX(0deg);
    }100% {
        transform: rotateX(0deg);
    }
}
@keyframes notFoundForProduct {
    10% {
        scale: 1;
        rotate: 0;
    }20% {
        scale: 1.1;
        rotate: 10deg;
    }40% {
        scale: 1.1;
        rotate: 0;
    }90% {
        scale: 1;
        rotate: 0;
    }
}
